* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-color: #16202a;
  --blue-soft: rgb(30, 30, 65);
  --skyblue: #2cc8f3;
  --skyblue-soft: #dbf7ff;

  --purple: rgba(74, 10, 165, 0.667);
  --white: #ffffff;
}

body {
  background-color: var(--gray-color);
  font-family: "Ubuntu", sans-serif;
}
