.ToDoBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  border: 3px solid var(--skyblue);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 28px;
  padding: 16px;
  background-color: var(--skyblue-soft);
  margin-bottom: 94px;
}
