.ToDoItem {
  list-style: none;
  width: 95%;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(4px);
  &-description {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-weight: bold;
      font-size: 18px;
    }
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 38px;
    border-top: 1px solid gray;
    span {
      width: 28px;
      height: 28px;
      margin: 0 8px 0 8px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 18px;
      div {
        display: flex;
        justify-items: center;
        align-items: center;
      }
    }
    span:nth-child(1) {
      background-color: red;
      color: white;
    }

    span:nth-child(2) {
      background-color: rgb(41, 196, 41);

      transform: rotate(180deg);
      color: white;
    }
    p {
      color: var(--white);
    }
  }
  &-complete {
    background-color: rgb(197, 197, 197);
    .ToDoItem-description {
      background-color: var(--gray);
      p {
        text-decoration: line-through;
      }
    }
    .ToDoItem-buttons {
      background-color: var(--gray);

      span:nth-child(1) {
        background-color: red;
      }
      span:nth-child(2) {
        background-color: gray;
      }
    }
  }
}
