.ToDoBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: 3px solid var(--skyblue);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 28px;
  padding: 16px;
  background-color: var(--skyblue-soft);
  margin-bottom: 94px;
  .Loading{
    display: grid;
    width: 100%;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .Board-container{
    width: 100%;
  }
  
}


